@model Category
@section Title {
                    Category
}
@section heading {
                    Edit
}
<form method="post" action="/Admin/categories/Edit" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input name="Name" value="@Model.Name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputqua">Image</label>
        <img src="/images/@Model.Image" width="200px" alt="Alternate Text" />
        <input name="Image" type="file" class="form-control" id="exampleInputqua">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
